# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Miscellaneous
*.egg-info/
*.egg
dist/
build/
